// Text Colors
$mainTextColor: #d9d9d9;
$darkTextColor: #121517;
$lightTextColor: #ffffff;
$hoverLinkColor: #35c66b;

// Background Colors
$lightBgColor: #ffffff;
$blackBgColor: #121517;
$darkBgColor: #237249;
$darkerBgColor: #134029;

// Gradient Colors
$gradLightColor: #35c66b;
$gradDarkColor: #237249;

// Border
$borderColor: #000000;
$borderWidth: 1.5px;

// Medias
$mediaPC: 1400px;
$mediaSmallPC: 1200px;
$mediaTablet: 992px;
$mediaSmallTablet: 768px;
$mediaMobile: 576px;
$mediaSmallMobile: 320px;

// Fonts
$mainFontFamily: "Montserrat", "Open Sans", sans-serif;
$basicFontSize: 20px;

@media (max-width: $mediaTablet) {
    $basicFontSize: 18px;
}

@media (max-width: $mediaSmallTablet) {
    $basicFontSize: 16px;
}

@media (max-width: $mediaMobile) {
    $basicFontSize: 18px;
}

@media (max-width: $mediaSmallMobile) {
    $basicFontSize: 14px;
}

$titleFontSize: 4rem;

//  Borders
$bigBorderRadius: 1.5rem; //30px

//  Container
$containerPadding: 1rem;
$containerWidth: 1253px;

//  Transitions
$basicTrans: all 0.3s;

//  Scale
$basicScale: scale(1.3);

//  Opacity
$basicOpacity: 0.8;

// Paddings & Margins
$mainPadding: 1rem;
$mainMargin: 1rem;
