@use "../utils/fonts";
@use "../utils/vars";

html {
    font-size: vars.$basicFontSize;
    overflow-x: hidden;
}

body {
    background-color: vars.$blackBgColor;
    font-family: vars.$mainFontFamily;
    font-weight: 400;
    color: vars.$mainTextColor;
    overflow: hidden;
    height: auto;
}

.body__fixed {
    overflow-y: hidden;
    height: 100vw;
}

.container {
    max-width: vars.$containerWidth;
    margin: 0 auto;
}

.display--none {
    display: none;
}
