@use "../utils/vars";
@use "../utils/mixins";
@use "../utils/functions";
@use "../ui/title-gradient";

.events {
    padding: 5rem 1rem 0;

    &__container {
        position: relative;

        &::before {
            content: "";
            width: 20%;
            @include mixins.aspect(275px, 220px);
            background: linear-gradient(
                245deg,
                rgba(35, 114, 73, 0.55) 0%,
                rgba(53, 198, 107, 0.73) 51.85%
            );
            @include mixins.position(absolute, -1, top, left, 50%, -5%);
            border-radius: 50%;
            translate: 0 -25%;
            pointer-events: none;
            opacity: 0.15;
            filter: blur(110px);

            @media (max-width: vars.$mediaTablet) {
                width: 30%;
                @include mixins.aspect(132px, 112px);
                @include mixins.position(absolute, -1, top, left, 50%, -5%);
                translate: 0 -25%;
                // opacity: 0.15;
                // filter: blur(67px);
            }
        }

        &::after {
            content: "";
            width: 20%;
            @include mixins.aspect(275px, 220px);
            background: linear-gradient(
                245deg,
                rgba(35, 114, 73, 0.55) 0%,
                rgba(53, 198, 107, 0.73) 51.85%
            );
            @include mixins.position(absolute, -1, bottom, right, 10%, 0);
            border-radius: 50%;
            translate: 25% -25%;
            pointer-events: none;
            opacity: 0.15;
            filter: blur(110px);

            @media (max-width: vars.$mediaTablet) {
                display: none;
            }
        }
    }
}

.events__info {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
    gap: min(3.6rem, 8vw);
    margin-bottom: 2.7rem;

    @media (max-width: vars.$mediaTablet) {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    @media (max-width: vars.$mediaMobile) {
        gap: 36px;
        margin-bottom: 38px;
    }
}

.events__title {
    font-size: 4rem;
    color: vars.$lightTextColor;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.03em;
    max-width: 366px;

    @media (max-width: vars.$mediaMobile) {
        font-size: functions.relSize(53px, vars.$basicFontSize);
    }
}

.events__descr {
    max-width: 456px;
    line-height: 1.63;
    letter-spacing: -0.02em;

    @media (max-width: vars.$mediaMobile) {
        font-size: functions.relSize(14px, vars.$basicFontSize);
    }
}

.events__image-bg {
    @include mixins.position(absolute, -1, top, left, 0, 0);
    translate: -25% 0;

    @media (max-width: vars.$mediaTablet) {
        display: none;
    }
}

.events__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    gap: 1.2rem;

    @media (max-width: vars.$mediaMobile) {
        grid-template-columns: repeat(6, 115px);
        overflow-x: auto;
    }

    &::before {
        content: "";
        width: 20%;
        @include mixins.aspect(255px, 204px);
        background: linear-gradient(
            245deg,
            rgba(35, 114, 73, 0.55) 0%,
            rgba(53, 198, 107, 0.73) 51.85%
        );
        @include mixins.position(absolute, -1, top, left, 0, 50%);
        border-radius: 50%;
        translate: -25% -25%;
        pointer-events: none;
        opacity: 0.15;
        filter: blur(100px);

        @media (max-width: vars.$mediaTablet) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 26%;
        @include mixins.aspect(255px, 204px);
        background-color: rgba(217, 217, 217, 0.12);
        @include mixins.position(absolute, -1, top, left, 0, 50%);
        border-radius: 50%;
        translate: -5% 25%;
        pointer-events: none;
        filter: blur(150px);

        @media (max-width: vars.$mediaTablet) {
            display: none;
        }
    }
}

.event {
    position: relative;
    grid-column: span 2;
    border-radius: 1.5rem;
    overflow: hidden;

    &:nth-child(1) {
        grid-column: span 3;
    }

    &:nth-child(2) {
        grid-column: span 3;
    }
}

.event__img-wrapper {
}

.event__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.event__info {
    @include mixins.position(absolute, -1, top, left, 0, 26px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.2rem;
    max-width: 290px;
}

.event__title {
    font-size: 1.6rem;
    color: vars.$mainTextColor;
    font-weight: 500;
    line-height: 1.1;
}

.event__button {
    font-size: 1.2rem;
    font-family: Montserrat;
    color: vars.$mainTextColor;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.03em;
    padding: 1rem 2.7rem;
    border-radius: 4rem;
}
