@use "../utils/vars";
@use "../utils/mixins";

.header {
    padding: 48px 25px;

    @media (max-width: vars.$mediaMobile) {
        padding: 34px 25px;
    }

    @media (max-width: vars.$mediaSmallMobile) {
        padding: 30px 14px;
    }

    .header__container {
        display: flex;
        align-items: center;
        gap: min(94px, 10vw);

        @media (max-width: vars.$mediaSmallTablet) {
            justify-content: space-between;
        }
    }
}

.logo {
    @include mixins.linear-gradient(
        90deg,
        vars.$gradLightColor 0%,
        vars.$gradDarkColor 100%
    );
    background-clip: text;
    color: transparent;
    text-shadow: none;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.03em;
    z-index: 5;

    @media (max-width: vars.$mediaMobile) {
        font-size: 1.4rem;
    }

    @media (max-width: vars.$mediaSmallMobile) {
        font-size: 1.2rem;
    }
}

.nav {
    transition: vars.$basicTrans;

    @media (max-width: vars.$mediaSmallTablet) {
        @include mixins.position(absolute, -1, top, left, 0, -500px);
        padding: 150px 25px 25px;
        opacity: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        visibility: hidden;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.9);
    }

    @media (max-width: vars.$mediaMobile) {
        padding: 120px 25px 25px;
    }

    &.nav--appear {
        @media (max-width: vars.$mediaSmallTablet) {
            opacity: 1;
            left: 0;
            visibility: visible;
        }
    }
}

.nav-list {
    display: flex;
    align-items: center;
    gap: min(94px, 10vw);

    @media (max-width: vars.$mediaSmallTablet) {
        flex-direction: column;
    }
}

.nav-item {
    a {
        color: vars.$mainTextColor;
        transition: vars.$basicTrans;

        &:hover,
        &:focus-visible {
            color: vars.$hoverLinkColor;

            @media (hover: none) {
                color: vars.$mainTextColor;
            }
        }
    }
}

.burger {
    background: none;
    outline: none;
    border: none;
    display: none;
    z-index: 5;

    @media (max-width: vars.$mediaSmallTablet) {
        display: block;
    }
}

.burger__sprite {
    display: block;
    width: 43px;
    height: 22px;
    stroke-dasharray: 100px;
    transition: vars.$basicTrans;
}

.burger {
    .line--streight {
        display: block;
    }

    .line--cross {
        display: none;
    }
}

.burger--cross {
    .line--streight {
        display: none;
    }

    .line--cross {
        display: block;
    }
}
