@use "../utils/vars";
@use "../utils/mixins";
@use "../utils/functions";
@use "../ui/title-gradient";
@use "../ui/buttons";

.hero {
    padding: 32px 25px 0;

    @media (max-width: vars.$mediaMobile) {
        padding: 5px 25px 0;
    }

    @media (max-width: vars.$mediaSmallMobile) {
        padding: 5px 14px 0;
    }

    &__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        gap: min(1rem, 2vw);

        @media (max-width: vars.$mediaSmallTablet) {
            flex-direction: column;
            align-items: center;
            gap: functions.relSize(26px, vars.$basicFontSize);
        }
    }
}

.hero__image-wrapper {
    position: relative;
    flex-basis: auto;

    &::before {
        content: "";
        width: 48.8%;
        aspect-ratio: 1;
        background-color: rgba(217, 217, 217, 0.3);
        border-radius: 100%;
        filter: blur(124.04166412353516px);
        @include mixins.position(absolute, -1, top, left, 2rem, -1rem);

        @media (max-width: vars.$mediaMobile) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 69%;
        aspect-ratio: 1;
        @include mixins.linear-gradient(
            245deg,
            rgba(35, 114, 73, 0.55) 0%,
            rgba(53, 198, 107, 0.73) 51.85%
        );
        border-radius: 100%;
        filter: blur(175.5px);
        opacity: 0.3;
        @include mixins.position(absolute, -1, bottom, right, 0, 0);

        @media (max-width: vars.$mediaMobile) {
            width: 100%;
            right: unset;
            bottom: unset;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            filter: blur(111px);
        }
    }

    @media (max-width: vars.$mediaSmallTablet) {
        height: 381px;
    }
}

.hero__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.hero__image-bg {
    @include mixins.position(absolute, -1, bottom, right, 50%, 50%);
    max-width: 195%;
    translate: 50% 84%;
}

.hero__sale {
    @include mixins.position(absolute, -1, top, right, 0, 0);
    z-index: 1;
}

.sale {
    max-width: 39%;
    max-height: 39%;

    &__image {
        display: block;
        transform: rotateZ(320deg);
        object-fit: contain;
        width: 100%;
        height: 100%;
        filter: drop-shadow(-15.52px 15.52px 5px rgba(20, 62, 40, 0.46));
    }

    &__number {
        @include mixins.position(absolute, -1, top, left, 50%, 50%);
        translate: -50% -50%;
        font-size: clamp(1.5rem, 3.5cqw, 2.75rem);
        width: 100%;
        text-align: center;
        color: vars.$lightTextColor;
        font-weight: 500;
        letter-spacing: -0.03em;
        transform: rotateZ(345deg);
    }

    &__number--pc {
        @media (max-width: vars.$mediaSmallTablet) {
            display: none;
        }
    }
    &__number--mobile {
        display: none;

        @media (max-width: vars.$mediaSmallTablet) {
            font-size: functions.relSize(55px, vars.$basicFontSize);
            display: block;
        }
    }
}

.hero__info {
    display: flex;
    position: relative;
    flex-shrink: 5;
    flex-direction: column;
    gap: min(2.7rem, 5vw);
    max-width: 574px;

    &::before {
        content: "";
        width: 50%;
        aspect-ratio: 1;
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: 100%;
        opacity: 0.3;
        filter: blur(155px);
        @include mixins.position(absolute, -1, bottom, right, 2rem, 0);

        @media (max-width: vars.$mediaMobile) {
            aspect-ratio: 2;
            filter: blur(100px);
            background-color: unset;
            @include mixins.linear-gradient(
                245deg,
                rgba(35, 114, 73, 0.55) 0%,
                rgba(53, 198, 107, 0.73) 51.85%
            );
            @include mixins.position(absolute, -1, bottom, right, 0, 0);
            translate: -20% 60%;
        }
    }

    @media (max-width: vars.$mediaSmallTablet) {
        gap: functions.relSize(36px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaMobile) {
        gap: functions.relSize(36px, vars.$basicFontSize);
        max-width: 100%;
    }
}

.hero__main-info {
    display: flex;
    flex-direction: column;
    gap: min(2.7rem, 5vw);
    z-index: 1;

    @media (max-width: vars.$mediaSmallTablet) {
        gap: functions.relSize(36px, vars.$basicFontSize);
    }
}

.hero__title {
    font-size: functions.relSize(80px, vars.$basicFontSize);
    color: vars.$lightTextColor;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.03em;

    &::before {
        content: "";
        display: none;
        width: 40%;
        aspect-ratio: 1.65;
        @include mixins.linear-gradient(
            245deg,
            rgba(35, 114, 73, 0.55) 0%,
            rgba(53, 198, 107, 0.73) 51.85%
        );
        border-radius: 100%;
        opacity: 0.2;
        filter: blur(93px);
        @include mixins.position(absolute, -1, top, left, 0, 25%);

        @media (max-width: vars.$mediaMobile) {
            display: block;
        }
    }

    @media (max-width: vars.$mediaTablet) {
        font-size: functions.relSize(68px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: functions.relSize(48px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: functions.relSize(44px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaSmallMobile) {
        font-size: functions.relSize(36px, vars.$basicFontSize);
    }
}

.hero__descr {
    line-height: 1.6;
    letter-spacing: -0.02em;
    font-size: functions.relSize(20px, vars.$basicFontSize);

    @media (max-width: vars.$mediaTablet) {
        font-size: functions.relSize(18px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: functions.relSize(14px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: functions.relSize(12px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaSmallMobile) {
        font-size: functions.relSize(11px, vars.$basicFontSize);
    }
}

.hero__button-wrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    @media (max-width: vars.$mediaSmallTablet) {
        gap: functions.relSize(12px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaSmallMobile) {
        flex-direction: column;
    }
}

.stat {
    display: flex;
    gap: clamp(1em, 4vw, 2.3em);
    z-index: 1;
}

.stat__item {
    max-width: 127px;

    @media (max-width: vars.$mediaTablet) {
        max-width: 110px;
    }

    @media (max-width: vars.$mediaSmallTablet) {
        max-width: 85px;
    }

    @media (max-width: vars.$mediaSmallMobile) {
        max-width: 80px;
    }
}

.stat__number {
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: -0.03em;
    margin-bottom: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: vars.$mediaTablet) {
        font-size: functions.relSize(52px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: functions.relSize(41px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: functions.relSize(36px, vars.$basicFontSize);
        margin-bottom: 3px;
    }

    @media (max-width: vars.$mediaSmallMobile) {
        font-size: functions.relSize(28px, vars.$basicFontSize);
    }
}

.stat__plus {
    @include mixins.linear-gradient(
        90deg,
        vars.$gradLightColor 0%,
        vars.$gradDarkColor 100%
    );
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.stat__descr {
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -0.02em;

    @media (max-width: vars.$mediaTablet) {
        font-size: functions.relSize(16px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: functions.relSize(12px, vars.$basicFontSize);
    }

    @media (max-width: vars.$mediaSmallMobile) {
        font-size: functions.relSize(11px, vars.$basicFontSize);
    }
}
